body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.hide {
  display: none;
}

#settings-menu {
  position: absolute;
  width: auto;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: .7;
  overflow-y: scroll;
  border-right: 1px solid #292929;
}

#settings-inner-wrap {
  position: relative;
  padding: 30px 20px;
}

#settings-open {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  color: #ffffff;
  padding: 15px;
  float: left;
}

#settings-close {
  z-index: 2;
  font-size: 24px;
  padding: 15px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  color: #0e83cd;
}

.wave-settings{
  display: block;
  position: relative;
  color: #000;
}

.wave-settings input {
  position: relative;
  color: #000;
}

#settings-menu button{
  display: block;
  margin: 20px auto;

  font-family: 'Oswald', sans-serif;
  border: 3px solid #fff;
  color: #fff;

  font-size: 18px;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
}


#settings-menu button:after {
  width: 101%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #fff;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#settings-menu button:hover,
#settings-menu button:active {
  color: #0e83cd;
}

#settings-menu button:hover:after {
  height: 75%;
  opacity: 1;
}

#settings-menu button:active:after {
  height: 130%;
  opacity: 1;
}



#settings-menu p,  #settings-menu span{
  color: #fff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}
#settings-menu label {
  margin-left: 5px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

#settings-menu input[type="radio"] {
  margin-left: 10px;
  color: #fff;
}




*, *:before, *:after {
  box-sizing: border-box;
}


.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #095c8f;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #0e83cd;
  background: #000000;
  cursor: pointer;
  transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #0e83cd;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #0e83cd;
}
.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #0e83cd;
}
.range-slider__range:active::-moz-range-thumb {
  background: #0e83cd;
}
.range-slider__range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #000, 0 0 0 6px #0e83cd;
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  border: 1px solid #d4d4d4;
  color: #fff;
  line-height: 20px;
  text-align: center;
  padding: 5px 0;
  margin-left: 8px;
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

