body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.hide {
  display: none;
}

.clear {
  clear: both;
}

#settings-menu {
  position: absolute;
  width: 450px;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  background-color: #000000bd;
  overflow-y: scroll;
  border-right: 1px solid #292929;
}


#settings-menu-inner-wrap {
 position: relative;
}

#sub-wrap {
  position: relative;
  z-index: 20;
  top: 0;
}

#sub-menu {
  width: 449px;
  position: fixed;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 66%, rgba(0,0,0,0) 100%);
}

#wave-control-panel {
  position: relative;
  padding: 60px 20px 30px;
}

#settings-open {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  color: #ffffff;
  padding: 15px;
  float: left;
}

#settings-close {
  z-index: 2;
  font-size: 24px;
  padding: 15px;
  display: inline-block;
  float: right;
  color: #0e83cd;
}

#settings-close:hover {
  color: #0eb1ff;
}

button#piano-mode {
  background-color: transparent;
  border: none;
  float: right;
  z-index: 2;
  margin: 15px;
}

button#piano-mode:focus {
  outline: none;
}

button#piano-mode.enabled path {
  fill: #fff;
}

button#piano-mode:hover path {
  fill: #0eb1ff;
}

#piano-mode-svg {
  width: 24px;
  display: inline;
}

#piano-mode-svg path {
  fill: #0e83cd;
}

#piano-mode-svg path:hover {
}

.wave-settings {
  display: block;
  position: relative;
  color: #000;
}

.wave-settings input {
  position: relative;
  color: #000;
}

.wave-settings .piano-mode input {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  display: inline-block;
  position: relative;
  border: 1px solid #d4d4d4;
  color: #fff;
  line-height: 20px;
  text-align: center;
  padding: 5px 0;
  background-color: black;
  text-transform: uppercase;
  width: 120px;
}

.wave-settings .piano-mode input:last-child {
  margin-left: 8px;
}

.settings-wrapper > div {
  margin-top: 20px;
}

#settings-menu button.settings-toggle-button {
  display: block;
  margin: 20px auto;

  font-family: 'Oswald', sans-serif;
  border: 3px solid #fff;
  color: #fff;

  font-size: 18px;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
}

#settings-menu button:after {
  width: 101%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #fff;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#settings-menu button:hover,
#settings-menu button:active {
  color: #0e83cd;
}

#settings-menu button:hover:after {
  height: 75%;
  opacity: 1;
}

#settings-menu button:active:after {
  height: 130%;
  opacity: 1;
}

.radio-option-wrap {
  display: block;
}

label.radio-input:after {
  content: '';
  display: block;
}

#settings-menu p, #settings-menu span {
  color: #fff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

#settings-menu label {
  margin-left: 5px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

#settings-menu input[type="radio"] {
  margin-left: 10px;
  color: #fff;
}

.range-slider {
  width: 100%;
}

.range-slider-wrapper {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #095c8f;
  outline: none;
  padding: 0;
  margin: 0;
}

.range-slider-wrapper::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #0e83cd;
  background: #000000;
  cursor: pointer;
  transition: background .15s ease-in-out;
}

.range-slider-wrapper::-webkit-slider-thumb:hover {
  background: #0e83cd;
}

.range-slider-wrapper:active::-webkit-slider-thumb {
  background: #0e83cd;
}

.range-slider-wrapper::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background .15s ease-in-out;
}

.range-slider-wrapper::-moz-range-thumb:hover {
  background: #0e83cd;
}

.range-slider-wrapper:active::-moz-range-thumb {
  background: #0e83cd;
}

.range-slider-wrapper:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #000, 0 0 0 6px #0e83cd;
}

.editing {
  background-color: darkcyan;
  margin-bottom: 10px;
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
  border: 1px solid #656565;
  border-radius: 50%;
  color: #fff;
  line-height: 49px;
  text-align: center;
  padding: 5px 0;
  margin-left: 8px;
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}


/*  Radio Buttons */
input[type="radio"].radio-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #095c8f;
  color: #fff;
  top: 10px;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
}

input[type="radio"].radio-input:checked::before {
  position: absolute;
  font: 13px/1 'Open Sans', sans-serif;
  left: 11px;
  top: 7px;
  content: '\02143';
  transform: rotate(40deg);
}

input[type="radio"].radio-input:hover {
  box-shadow: inset 0 0 5px #fff;
}

input[type="radio"].radio-input:checked {
  background-color: #0e83cd;
}

input[type="radio"].radio-input, label.radio-input{
  vertical-align: bottom;
}

