/*  TODO  make it scroll on mobile - by adding*/
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.hide {
  display: none;
}

.clear {
  clear: both;
}

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}


#settings-menu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

#settings-menu::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

@media (min-width: 320px) and (max-width: 480px) {
  #settings-menu::-webkit-scrollbar {
    width: 20px;
  }

  #settings-menu {
    padding-left: 35px;
  }
}

#settings-menu::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #000;
  background-color: #000000bd;
  background-image: -webkit-gradient(linear,
  40% 0%,
  75% 84%,
  from(#000000bd),
  to(#0c6b98),
  color-stop(.9, #0e83cd));
}

#settings-menu::-webkit-scrollbar-track {
  background-color: #000;
}

#settings-menu {
  display: none;
  position: absolute;
  width: 450px;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  background-color: #000000bd;
  overflow-y: scroll;
  border-right: 1px solid #292929;
}

#settings-menu hr {
  border-color: #292929;
  margin: 0 auto;
  width: 25%;
}

#settings-menu-inner-wrap {
  position: relative;
}

#sub-menu {
  width: 449px;
  position: fixed;
  z-index: 5;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 66%, rgba(0, 0, 0, 0) 100%);
}

#ctrlObject-control-panel, #audio-control-panel {
  position: relative;
  padding: 60px 20px 30px;
}

#settings-open {
  /*display: none;*/
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  color: #ffffff;
  padding: 15px;
  float: left;
}

#settings-close {
  z-index: 2;
  font-size: 24px;
  padding: 15px;
  display: inline-block;
  float: right;
  color: #0e83cd;
}

#settings-close:hover {
  color: #0eb1ff;
}

button#piano-mode {
  background-color: transparent;
  border: none;
  float: right;
  z-index: 2;
  margin: 15px;
}

button#piano-mode:focus {
  outline: none;
}

button#piano-mode.editing path {
  fill: #fff;
}

button#piano-mode:hover path {
  fill: #0eb1ff;
}

#settings-menu span.tooltip {
  position: absolute;
  top: 60%;
  margin-top: 10px;
  padding: .55rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
  color: #fff;
  border-radius: 50px;
  background-color: #000;
  box-shadow: 0 15px 35px rgba(147, 147, 224, 0.1),
  0 5px 15px rgba(225, 225, 225, 0.16);

  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

#piano-mode:hover span.tooltip {
  top: 100%;
  opacity: 0.9;
}

#piano-mode-svg {
  width: 24px;
  display: inline;
}

#piano-mode-svg path {
  fill: #0e83cd;
}

#piano-mode-svg path:hover {
}

.ctrlObject-settings {
  display: block;
  position: relative;
  color: #000;
}

.ctrlObject-settings input {
  position: relative;
  color: #000;
}

.ctrlObject-settings .piano-mode input {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  display: inline-block;
  position: relative;
  border: 1px solid #d4d4d4;
  color: #fff;
  line-height: 20px;
  text-align: center;
  padding: 5px 0;
  background-color: black;
  text-transform: uppercase;
  width: 120px;
}

.ctrlObject-settings .piano-mode input:last-child {
  margin-left: 8px;
}

.settings-wrapper > div {
  margin-top: 20px;
}

#settings-menu p, #settings-menu span {
  color: #fff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

#settings-menu label {
  margin-left: 5px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

#settings-menu input[type="radio"] {
  margin-left: 10px;
  color: #fff;
}

#settings-menu button.settings-toggle-button,
#settings-menu .audio-button{
  display: block;
  margin: 20px auto;

  font-family: 'Oswald', sans-serif;
  border: 3px solid #fff;
  color: #fff;

  font-size: 18px;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
  text-align: center;
}

/* hide the file input button bc its ugly*/
#upload-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#audio-control-panel .audio-button {
  width: 150px;
  padding: 20px 40px;
  display: block;
  vertical-align: middle;
}

#settings-menu button:hover,
#settings-menu button:active,
#settings-menu label.audio-button:hover {
  color: #0e83cd;
}

#settings-menu button.settings-toggle-button.open {
  border: 3px solid #0e83cd;
}

.radio-option-wrap {
  display: block;
}

label.radio-input:after {
  content: '';
  display: block;
}

.range-slider-wrapper {
  width: 100%;
}

.range-slider {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #095c8f;
  outline: none;
  padding: 0;
  margin: 0;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #0e83cd;
  background: #000000;
  cursor: pointer;
  transition: background .15s ease-in-out;
}

.range-slider::-webkit-slider-thumb:hover {
  background: #0e83cd;
}

.range-slider:active::-webkit-slider-thumb {
  background: #0e83cd;
}

.range-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background .15s ease-in-out;
}

.range-slider::-moz-range-thumb:hover {
  background: #0e83cd;
}

.range-slider:active::-moz-range-thumb {
  background: #0e83cd;
}

.range-slider:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #000, 0 0 0 6px #0e83cd;
}

.editing {
  background-color: darkcyan;
  margin-bottom: 10px;
}

.range-slider-value {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
  border: 1px solid #656565;
  border-radius: 50%;
  color: #fff;
  line-height: 49px;
  text-align: center;
  padding: 5px 0;
  margin-left: 8px;
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}



.custom-select-wrapper select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 10px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #095c8f;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.custom-select-wrapper select:focus {
  outline: none;
}

.custom-select-wrapper select:hover  {
  border: 1px solid #0e83cd;

}


/*  Radio Buttons */
input[type="radio"].radio-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #095c8f;
  color: #fff;
  top: 10px;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
}

input[type="radio"].radio-input:checked::before {
  position: absolute;
  font: 13px/1 'Open Sans', sans-serif;
  left: 11px;
  top: 7px;
  content: '\02143';
  transform: rotate(40deg);
}

input[type="radio"].radio-input:hover {
  box-shadow: inset 0 0 5px #fff;
}

input[type="radio"].radio-input:checked {
  background-color: #0e83cd;
}

input[type="radio"].radio-input, label.radio-input {
  vertical-align: bottom;
}



